# Rename to .env and fill as needed
MONGODB_URI=mongodb://localhost:27017
MONGODB_DB=mental_health
JWT_SECRET_KEY=PLEASE_CHANGE_ME
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=1440
CORS_ORIGINS=["http://localhost:3000","http://127.0.0.1:3000"]
HF_MODEL_NAME=j-hartmann/emotion-english-distilroberta-base

# Spotify API (Client Credentials)
# Do NOT commit real credentials. Copy this file to .env and fill values.
SPOTIFY_CLIENT_ID=a4027ae03abc4963bb98eee06a05ff50
SPOTIFY_CLIENT_SECRET=2ba737a6435f477c92d9b75fa8e375f0
# Optional; not required for client-credentials flow
SPOTIFY_REDIRECT_URI=http://127.0.0.1:8000/callback
SPOTIFY_MARKET=TR
